.sidebar {
  background: linear-gradient(#14557b, #3d8299);
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.05);
  .title {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
      padding: 15px;
      color: white;
      display: flex;
      gap: 10px;
      align-items: center;
      text-decoration: none;
      text-transform: capitalize;
      transition: 0.3s;
      svg {
        font-size: 1.5rem;
      }
      &:hover,
      &.active {
        background-color: white;
        color: #3a8a9a;
      }
    }
  }
  .menu-bar {
    display: none;
  }
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    .title {
      margin-bottom: 0;
    }
    .links {
      display: none;
    }
    .menu-bar {
      display: unset;
      font-size: 2rem;
    }
  }
}
