@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #4dccc5;
  --faded-color: #8b9ca7;
}

body {
  font-family: "Roboto";
}

.page-placeholder{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 4.5rem;
  background: linear-gradient(90deg, #14557b, #72dbff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  @media (max-width: 576px) {
    font-size: 2rem;
  }
}
